/* LoginPage.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
  }
  
  .login-form {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 15px -15px  15px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: -450px;
    margin-left: -100px;
    /* box-shadow : 10px 41px 4px solid black */
  }
  
  h1 {
    margin: 0 0 20px;
    font-size: 24px;
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  